@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartPage</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container {
            padding: 60px;
           
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 16px;
            text-align: center;
            background-color: #f1f1f1;
            height: 200px;
            width: 400px;
        }
        a {
            margin: 25px;
        }
            
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column">

                <div class="col-md-6 col-md-offset-3">
                    <div class="card">
                        <a href="@Url.Action("SaveItem", "Sales")" class="btn btn-primary text-center">Save Sales Info</a> <br />
                        <a href="@Url.Action("GetItemSalesInfo", "Sales")" class="btn btn-primary text-center">View Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
