USE [master]
GO
/****** Object:  Database [SalesItemDB]    Script Date: 11/27/2019 8:41:17 PM ******/
CREATE DATABASE [SalesItemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesItemDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SalesItemDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SalesItemDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SalesItemDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesItemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesItemDB]
GO
/****** Object:  Table [dbo].[ItemTable]    Script Date: 11/27/2019 8:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_ItemTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SalesTable]    Script Date: 11/27/2019 8:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SalesTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
	[CustomerName] [varchar](50) NULL,
	[ItemId] [int] NULL,
 CONSTRAINT [PK_SalesTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ItemTable] ON 

INSERT [dbo].[ItemTable] ([Id], [Name]) VALUES (1, N'Pendrive')
INSERT [dbo].[ItemTable] ([Id], [Name]) VALUES (2, N'Pen')
INSERT [dbo].[ItemTable] ([Id], [Name]) VALUES (3, N'Keyboard')
SET IDENTITY_INSERT [dbo].[ItemTable] OFF
SET IDENTITY_INSERT [dbo].[SalesTable] ON 

INSERT [dbo].[SalesTable] ([Id], [Quantity], [CustomerName], [ItemId]) VALUES (1003, 15, N'Sarwar', 1)
INSERT [dbo].[SalesTable] ([Id], [Quantity], [CustomerName], [ItemId]) VALUES (1004, 10, N'Sarwar', 1)
INSERT [dbo].[SalesTable] ([Id], [Quantity], [CustomerName], [ItemId]) VALUES (1005, 10, N'Mushfiq', 1)
SET IDENTITY_INSERT [dbo].[SalesTable] OFF
ALTER TABLE [dbo].[SalesTable]  WITH CHECK ADD  CONSTRAINT [FK_SalesTable_ItemTable] FOREIGN KEY([ItemId])
REFERENCES [dbo].[ItemTable] ([Id])
GO
ALTER TABLE [dbo].[SalesTable] CHECK CONSTRAINT [FK_SalesTable_ItemTable]
GO
USE [master]
GO
