USE [master]
GO
/****** Object:  Database [CityDB]    Script Date: 10/26/2019 3:18:35 PM ******/
CREATE DATABASE [CityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CityDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CityDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CityDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CityDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CityDB]
GO
/****** Object:  Table [dbo].[CityInfo]    Script Date: 10/26/2019 3:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CityInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NULL,
	[About] [varchar](500) NULL,
	[Country] [varchar](50) NULL,
 CONSTRAINT [PK_CityInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CityInfo] ON 

INSERT [dbo].[CityInfo] ([Id], [CityName], [About], [Country]) VALUES (9, N'Chicago', N'A City of Illinois State', N'USA')
INSERT [dbo].[CityInfo] ([Id], [CityName], [About], [Country]) VALUES (13, N'Chittagong', N'Port City of Bangladesh', N'Bangladesh')
INSERT [dbo].[CityInfo] ([Id], [CityName], [About], [Country]) VALUES (14, N'Cairo', N'Capital of Egypt', N'Egypt')
SET IDENTITY_INSERT [dbo].[CityInfo] OFF
USE [master]
GO
